{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block form_top %}
  {% if not is_popup %}
    <div class="form-intro-note">
      <span class="form-intro-note-icon" aria-hidden="true">i</span>
      <p>{% translate "After you’ve created a user, you’ll be able to edit more user options." %}</p>
    </div>
  {% endif %}
{% endblock %}
{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/unusable_password_field.css' %}" {% csp_nonce_attr %}>
{% endblock %}
