{% load i18n %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar" aria-label="{% translate 'Sidebar' %}">
    <div class="admin-nav-heading">{% translate 'Recruitment' %}</div>
    <a class="admin-nav-primary" href="{% url 'admin:index' %}">{% translate 'Dashboard' %}</a>
    <a class="admin-nav-primary" href="{% url 'admin:create_job_from_configuration' %}">{% translate 'Create job' %}</a>
    <div class="admin-nav-heading admin-nav-models">{% translate 'Data' %}</div>
    <input type="search" id="nav-filter" placeholder="{% translate 'Filter navigation' %}" aria-label="{% translate 'Filter navigation items' %}">
    {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>
